<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>予算は？</title>
</head>

<body>
    <h1>予算は？</h1>

    <a href="/result/?type={{ spot_type }}&mood={{ mood }}&time={{ play_time }}&budget=free">
        <button>無料</button>
    </a>

    <a href="/result/?type={{ spot_type }}&mood={{ mood }}&time={{ play_time }}&budget=1000">
        <button>1000円以内</button>
    </a>

    <a href="/result/?type={{ spot_type }}&mood={{ mood }}&time={{ play_time }}&budget=3000">
        <button>3000円以内</button>
    </a>

    <br><br>
    <a href="/">ホームへ戻る</a>
</body>

</html>