<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>気分を選択</title>
</head>

<body>
    <h1>今どんな気分？</h1>

    <a href="/time/?type={{ spot_type }}&mood=relax">
        <button>まったり</button>
    </a>

    <a href="/time/?type={{ spot_type }}&mood=active">
        <button>ガッツリ遊ぶ</button>
    </a>

    <a href="/time/?type={{ spot_type }}&mood=drive">
        <button>ドライブ</button>
    </a>

    <a href="/time/?type={{ spot_type }}&mood=food">
        <button>ご飯</button>
    </a>

    <a href="/time/?type={{ spot_type }}&mood=photo">
        <button>映える場所</button>
    </a>

    <a href="/time/?type={{ spot_type }}&mood=rain">
        <button>雨でもOK</button>
    </a>

    <br><br>
    <a href="/">ホームへ戻る</a>
</body>

</html>