<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>いつ遊ぶ？</title>
</head>

<body>
    <h1>いつ遊ぶ？</h1>

    <a href="/budget/?type={{ spot_type }}&mood={{ mood }}&time=day">
        <button>昼</button>
    </a>

    <a href="/budget/?type={{ spot_type }}&mood={{ mood }}&time=night">
        <button>夜</button>
    </a>

    <a href="/budget/?type={{ spot_type }}&mood={{ mood }}&time=late">
        <button>深夜</button>
    </a>

    <br><br>
    <a href="/">ホームへ戻る</a>
</body>

</html>